.calendar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.calendar-year {
    font-size: 2em;
    font-weight: bold;
}

.calendar-month {
    font-size: 2em;
    font-weight: bold;
}

.calendar-week {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


.day-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: blueviolet;
}

.day-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: dimgray;
}

.date-label {
    font-size: 1.20em;
    text-align: center;
}

.day-of-week-label {
    text-align: center;
    font-size: 1.20em;
    font-weight: bold;
}

.placeholder-label {
    color: grey;
}

.week-button {
    color: white;
    background-color: blueviolet;
    border-radius: 4px;
    border:solid 1px white;
    padding: 8px 12px;
}

.week-button:active {
    color: blueviolet;
    background-color: white;
}
