.week-calendar {
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    flex-direction: row;
}

.month-year-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    flex-grow: 1;
    padding: 2px 4px;
}

.month-label {
    font-size: 2em;
    font-weight: bold;
}

.year-label {
    font-size: 2em;
    font-weight: lighter;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin: 2px 4px;
}

.toolbar-button {
    min-width: 32px;
    min-height: 32px;
    padding: 2px 2px;
    border-radius: 4px;
}

.toolbar-button-label {
    padding: 0 8px;
}

.day-grid {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
    column-gap: 0;
    width: 100%;
    height: 100%;
    margin-top: 4px;
}

.day-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0;
    width: 100%;
}

.day-column-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    font-size: 1.2rem;
    font-weight: lighter;
    height: 40px;
    width: 100%;
    color: var(--stone-50);
    border-bottom: 1px solid var(--stone-700);
}

.day-column-content {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--stone-700);
}

.day-of-week-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    font-size: 1.2rem;
    font-weight: lighter;
    background-color: var(--stone-700);
    color: var(--stone-50);
}

.today-date {
    background-color: var(--red-600);
    border-radius: 100%;
    font-weight: normal;
    margin: 0 2px;
    padding: 4px;
}

.hour-grid {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    row-gap: 0;
    width: 100%;
    height: 100%;
}

.hour-cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    column-gap: 4px;
    font-size: 1.2rem;
    font-weight: lighter;
    min-width: 120px;
    min-height: 40px;
    width: 100%;
    color: var(--stone-50);
    border-bottom: 1px solid var(--stone-700);
}

.all-day-cell {
    border-bottom: 3px solid var(--stone-700);
}

.weekend-cell {
    background-color: var(--stone-800);
}

.time-legend-grid {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    row-gap: 2px;
    border-top: 1px solid var(--stone-700);
    margin-top: 38px;
}

.time-legend-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 120px;
    min-height: 40px;
}

.time-legend-label {
    font-size: 0.7em;
    font-weight: normal;
    color: var(--stone-500);
    margin-top: -0.7em;
    padding-right: 8px;
}

.all-day-legend {
    font-weight: bold;
    margin: 0.7em;
}

.event-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    min-height: 12px;
    color: white;
    background-color: var(--violet-700);
    border: 1px solid var(--violet-500);
    border-radius: 4px;
    cursor: pointer;
}

.event-title {
    font-size: 0.6em;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
    padding: 1px 2px;
}

.event-time {
    font-size: 0.6em;
    font-weight: normal;
    text-align: right;
    padding: 1px 2px;
}
