
body {
    background-color: #000;
    color: #fff;
    font-size: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex-grow: 1;
}

.calendar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.events-table {
    width: 100%;
}

.week-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background-color: blueviolet;
}

.day-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}
