
body {
    background-color: #000;
    color: #fff;
    font-size: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex-grow: 1;
}
